html, body {
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

.active_chat {
    background: #ebebeb;
}

textarea {
    border: 0px solid;
    margin-top: 5px;
    outline: none;
    resize: none;
    width: 100%;
}
